  <link rel="stylesheet" href="/assets/css/bootstrap.css">
  <link rel="stylesheet" href="/register/css/styles.css">

<body>
  <div class="register-photo">
      <div class="form-container">
          <div class=""><img src="register/img/meeting.jpg" alt="Join us!"></div>
          <form method="post">
              <h2 class="text-center"><strong>Create</strong> an account.</h2>
              <div class="form-group">
                  <input class="form-control" type="email" name="email" placeholder="E-mail">
              </div>
              <div class="form-group">
                  <input class="form-control" type="password" name="password" placeholder="Password">
              </div>
              <div class="form-group">
                  <input class="form-control" type="password" name="password-repeat" placeholder="Password (repeat)">
              </div>
              <div class="form-group">
                  <div class="checkbox">
                      <label class="control-label">
                          <input type="checkbox">I agree to the license terms.</label>
                  </div>
              </div>
              <div class="form-group">
                  <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
              </div><a href="#" class="already">You already have an account? Login here.</a></form>
      </div>
  </div>
</body>
